<div class="courses">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center mb-5">Couses</h1>
            </div>
            <ng-container>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12 course__item mb-2 text-center">
                            <h5 class="">Beginner</h5>
                        </div>
                        <div class="col-12 mb-5 course__item" *ngFor="let course of beginnerCourses$ | async">
                            <div class="card">
                                <img class="card-img-top" src="{{ course.iconUrl }}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{ course.description }}</h5>
                                    <p>Category: {{ course.category }}</p>
                                    <div class="card-button-wrapper">
                                        <button (click)="displayEditDialog(course)" type="button" class="btn btn-primary">
                                            Quick edit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12 course__item mb-2 text-center">
                            <h5 class="">Advanced</h5>
                        </div>
                        <div class="col-12 mb-5 course__item" *ngFor="let course of advancedCourses$ | async">
                            <div class="card">
                                <img class="card-img-top" src="{{ course.iconUrl }}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{ course.description }}</h5>
                                    <p>Category: {{ course.category }}</p>
                                    <div class="card-button-wrapper">
                                        <button (click)="displayEditDialog(course)" type="button" class="btn btn-primary">
                                            Quick edit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>

    <app-edit-course-dialog *ngIf="selectedCourse" [course]="selectedCourse" (closeDialog)="selectedCourse=null" [categories]="categories">
    </app-edit-course-dialog>
</div>