<form [formGroup]="courseForm">

    <div style="display: block" class="modal fade show" [id]="course.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">{{ getCourseValue.description }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeDialog.emit()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="exampleInputEmail1">Description:</label>
                        <input formControlName="description" type="email" class="form-control" placeholder="Course Description">
                    </div>
                    <div class="form-group">
                        <label>Category</label>
                        <ng-select formControlName="category" [items]="categories">
                        </ng-select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button (click)="closeDialog.emit()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button (click)="submit()" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>